.idea
.DS_Store
*.vscode
/utils/vlt/bin
/utils/vlt/lib
/ItermLogs
/mac/workflows/iterm2_workspace
/aem/formsandoc
/aem/testTool
/aem/coreComponents
/utils/helpers/java/alfred-helpers/filesOutput
/utils/helpers/java/alfred-helpers/target
