.idea
.DS_Store
*.zip
*.jar
*.vscode
/ItermLogs
/mac/workflows/iterm2_workspace
/vlt
/aem/formsandoc
/aem/testTool
/aem/coreComponents
/utils/helpers/java/alfred-helpers/filesOutput
/utils/helpers/java/alfred-helpers/target
/utils/helpers/java/alfred-helpers/target