[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:johnkegd/dotfiles.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:johnkegd/snippets.git
[submodule "transfer.sh"]
	path = transfer.sh
	url = git@github.com:johnkegd/transfer.sh.git
