<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ ADOBE CONFIDENTIAL
  ~ ___________________
  ~ Copyright 2015 Adobe Systems Incorporated
  ~ All Rights Reserved.
  ~
  ~ NOTICE:  All information contained herein is, and remains
  ~ the property of Adobe Systems Incorporated and its suppliers,
  ~ if any.  The intellectual and technical concepts contained
  ~ herein are proprietary to Adobe Systems Incorporated and its
  ~ suppliers and are protected by all applicable intellectual property
  ~ laws, including trade secret and copyright laws.
  ~ Dissemination of this information or reproduction of this material
  ~ is strictly forbidden unless prior written permission is obtained
  ~ from Adobe Systems Incorporated.
  */-->

<sly data-sly-include="/libs/fd/af/components/guidesglobal.jsp"/>
<sly data-sly-use.guideConstants="com.adobe.aemds.guide.utils.GuideConstants"/>
<!-- /* Created a custom Numeric Stepper as fully qualified class name. Sightly would try to load it from the
OSGi environment. You can place your files in same directory as this Sightly file, so that sightly engine can compile
and load that class */ -->
<sly data-sly-use.guideField="com.adobe.aemds.guide.common.GuideNumericStepper"/>

<div class="${guideConstants.GUIDE_FIELD_WIDGET} guideNumericStepper"
     style="${guideField.styles @ context='styleString'}"
     data-af-widgetname="numericStepper"
     data-af-widgetoptions="${guideField.stepperOptions}">
    <input type="text"
           id="${guideField.id}${'_widget'}"
           name="${guideField.name}"
           value="${guideField.value}"
           style="${guideField.widgetInlineStyles @ context='styleString'}"
           placeholder="${guideField.placeholderText}"/>
</div>