<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~ ADOBE CONFIDENTIAL
~ ___________________
~ Copyright 2016 Adobe Systems Incorporated
~ All Rights Reserved.
~
~ NOTICE:  All information contained herein is, and remains
~ the property of Adobe Systems Incorporated and its suppliers,
~ if any.  The intellectual and technical concepts contained
~ herein are proprietary to Adobe Systems Incorporated and its
~ suppliers and are protected by all applicable intellectual property
~ laws, including trade secret and copyright laws.
~ Dissemination of this information or reproduction of this material
~ is strictly forbidden unless prior written permission is obtained
~ from Adobe Systems Incorporated.
*/-->
<sly data-sly-include="/libs/fd/af/components/guidesglobal.jsp"/>
<sly data-sly-use.guideConstants="com.adobe.aemds.guide.utils.GuideConstants"/>
<sly data-sly-use.guideField="com.adobe.aemds.guide.common.GuideCaptcha"/>
<div class="${guideConstants.GUIDE_FIELD_WIDGET} afCaptchaField ${guideField.heightOfDiv}"
     data-emptytext="Captcha"
     data-locale = "${guideField.locale}"
     style="${guideField.styles}"
     data-path="${guideField.path}"
     data-captchaService="${guideField.captchaService}"
     data-externalDomain="${guideField.externalDomain}">

    <div data-sly-test.isRecaptchaConfigMissing="${wcmmode.edit && guideField.authoringConfig.isRecaptchaConfigMissing == true}">
        <p style="color: red">${'Please provide reCAPTCHA configuration.' @ i18n, locale=request.locale}</p>
    </div>

</div>